* {
  margin: 0px;
  padding: 0px;
}
.content
{
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex:1
}


.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.high {
  width: 100%;
  height:250px;
}
.high img {
  width: 100%;
  height: 100%;
}

.banner-details {
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}
.banner-details img {
  width: 100%;
  position: relative;
  vertical-align: top;
}

.carousel-indicators [data-bs-target] {
  width: 50px;
  position: relative;
  top: 50px;
  background-color: #e1e1e1;
  height: 5px;
  border-radius: 2px;
}
.carousel-indicators {
  z-index: 0 !important;
}

.carousel-indicators .active {
  background-color: #6d6d6d;
}


.offer img ,.slide-container img {
  width: 100%;
  display: flex;
}

/* .carousel-item img {
    transition: transform 1s ease; 
}

.carousel-item:hover img {
    transform: scale(1.03); 
} */

#timer {
  background-color: #fff8eb;
}

.timer-component-wrapper {
  position: relative;
  top: 10px;
  z-index: 0;
  font-weight: 600;
  font-size: 12px;
  color: #666;
  background-color: #fff8eb;
  padding-bottom: 3px;
}
.timer-component {
  background: #fff;
  padding: 5px;
  text-align: center;
  color: #d80000;
  margin: -5px 2.5px 0 10px;
  position: relative;
  border-radius: 2px;
  border: 1px solid #fff1d8;
}

.timer-component-wrapper strong {
  display: flex;
  justify-content: center;
}


.fashion img,.sponsers img ,.fashion_steals img ,.deals img ,.sponsors_deals img ,.w_winners img ,.exclusives img,
.star img ,.hot_deals img ,.ss_24 img,.hot_deals1 img ,.gift img{
  width: 100%;
}

.sponsors_items,.b_items
{
    display: flex;
    align-items: center;
}
.sponsors_items img{
    width: 100%;
    height: auto;
}
.sponsors_items div
{
    width: 33.33%;
}
.b_items div{
    width: 25%;
}

.slick-slide 
{
  height: auto;
}
.apps
{
  display: flex;
  justify-content: space-between;
}
.apps p
{
  height: 50px;
  background-color: #fff;
  padding: 1.2rem;
  font-size: 12px;
  font-weight: 600;
  justify-content: space-between
}
.apps  img
{
/* margin-right: 10vh; */
padding: 2vh;

}


@media only screen and (max-width: 768px)
{
  .apps  img
  {
  margin-right: 20px;
  }
}
  



.service
{
  padding: 20px 24px 0;
    background-color: #f0f4f7;
    margin-bottom: 8vh;
}

.service strong
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  font-size:10px;
  color:#6d6d6d;
}

.s1 {
  display: flex;
  padding: 18px 0 ;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  cursor: pointer !important;
  visibility: visibl
}
.about
{
  color: #202020;
  font-size: 14px;
  font-weight: 600;
}
.more
{
  color: #6d6d6d;
  font-size: 10px;
}


@media screen and (max-width: 600px) {
  .high {
    height: 100px;
  }
}


@media screen and (min-width: 601px) and (max-width: 900px) {
  .high {
    height: 200px;
  }
}
@media screen and (min-width: 992px) {
  #sale span, #men span, #women span, #kids span, #homes span,.apps p,.footer_section span
{
  font-size: 16px!important;
}
.footer_section img
{
    height: 30px!important;
    width: 30px!important;
}
.service
{
 
    margin-bottom: 12vh;
}
}