
.sizemodal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
   border-radius: 30px;
    overflow: auto;
  }
  
  .sizemodal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px 8px 0 0; /* Add rounded corners to the top */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect at the top */
    
   border-color: black;
  }

  .sizemodal-content p
  {
    font-size: 16px;
    font-weight: 600;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .sizes_box
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
  }
  .sizes_box div
  {
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 4px;
    margin-right: 10px;
  }
  .sizes_box .selectedSize
  {
    color: #fff;
    background-color: black;
   
  }

  .quantity_control {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .quantity_control button {
    background-color: #fff;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
 
  }
  
  
  
  .quantity_control span {
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
  }
  